@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.details-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: bounce 1s ease; /* Add this line to apply the bounce animation */
}

.details-image {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.wishlist-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.category-details-page {
  padding: 20px;
  text-align: center;
  background-color: #f2d3e9;
  min-height: 100vh;
}

.details-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
