.navbar {
  display: flex;
  align-items: center;
  background-color: #f3e9e9; /* White background color for the navbar */
  padding: 10px 20px;
  justify-content: space-between; /* Space between logo, links, and profile picture */
}

.logo img {
  height: 40px; /* Adjust the height of the logo */
  margin-right: 40px; /* Space between logo and navigation links */
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px; /* Space between navigation items */
  display: flex;
  align-items: center; /* Center items vertically */
}

.navbar a {
  color: #100f0f; /* Text color for the links */
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center; /* Center items vertically */
}

.navbar a.active {
  font-weight: bold; /* Style for the active link */
}

.navbar a:hover {
  text-decoration: underline; /* Underline on hover */
}

.nav-icon {
  height: 20px; /* Adjust icon size */
  width: 20px;
  margin-right: 8px; /* Space between icon and text */
}

.profile-icon {
  height: 24px; /* Adjust profile icon size */
  width: 24px;
}
