/* AddUsers.css */
.add-users-container {
    padding: 10px;
    max-width: 300px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text horizontally */
  }
  
  .add-users-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form elements horizontally */
  }
  
  .add-users-form label {
    margin-bottom: 50px;
  }
  
  .add-users-form input[type="text"],
  .add-users-form input[type="email"] {
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-users-form button {
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-users-form button:hover {
    background-color: #555;
  }
  