.admin-panel {
  display: flex;
  height: 100vh;
}

.side-panel {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-panel ul {
  list-style-type: none;
  padding: 0;
}

.side-panel li {
  margin-bottom: 10px;
}

.side-panel a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.side-panel a:hover {
  color: #007bff;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
